body{
    padding: 0;
    margin: 0;
    background-color: #837f7f;
  
}

.main{
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 2px 3px #0a0420,
    2px 2px 1px #998f8f;
}

/* Navbar*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
  li {
    float: left;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
}
/*Css for Sidebar*/
.sidebar{
    border: 1px solid rgb(8, 8, 8);
    width: 200px;
    height: 700px;
    background-color:#837f7f;
    border-radius: 5px; 
 
}

.outer { 
    width: 200px;
    height: 700px;
    margin: 30px; 
    border: 10px solid #333; 
    border-radius: 5px; 
} 

#Searchbar {
        
        width: 130px;
}

.inner-text{
font-size: 15px;
}

.sidebar-text{
    margin-left: 0;
    padding: 10px;
    font-size: 20px;
}

/* images & text for Main Section of Blog*/
.img{
    position: absolute;
    left: 310px;
    top: 220px;
    border: 1px solid black;
    width: 450px;
    height: 120px;
    padding: 10px;
    display: grid;
    box-shadow: 5px 10px #000;
}

.text{
    position: absolute;
    left: 440px;
    top: 207px;
}

.img2{
    position: absolute;
    left: 310px;
    top: 400px;
    border: 1px solid black;
    width: 450px;
    height: 120px;
    padding: 10px;
    display: grid;
    box-shadow: 5px 10px #000;
}

.text-two{
    position:absolute;
    left: 440px;
    top: 387px;
}

.img3{
    position: absolute;
    left: 310px;
    top: 580px;
    border: 1px solid black;
    width: 450px;
    height: 120px;
    padding: 10px;
    display: grid;
    box-shadow: 5px 10px #000;
}

.text-three{
    position: absolute;
    left: 440px;
    top: 567px;
}

.img4{
    position: absolute;
    left: 850px;
    top: 580px;
    border: 1px solid black;
    width: 450px;
    height: 120px;
    padding: 10px;
    display: grid;
    box-shadow: 5px 10px #000;
}

.text-four{
    position: absolute;
    left: 990px;
    top: 567px;
}

.img5{
    position: absolute;
    left: 850px;
    top: 400px;
    border: 1px solid black;
    width: 450px;
    height: 120px;
    padding: 10px;
    display: grid;
    box-shadow: 5px 10px #000;
}

.text-five{
    position: absolute;
    left: 990px;
    top: 387px;
    overflow: hidden;
}

.img6{
    position: absolute;
    left: 850px;
    top: 220px;
    border: 1px solid black;
    width: 450px;
    height: 120px;
    padding: 10px;
    display: grid;
    box-shadow: 5px 10px #000;
}

.text-six{
    position: absolute;
    left: 990px;
    top: 207px;
}
/* Post 5 Image Styling*/

.pic{
padding: 10px;
width: 400px;
height: 400px;
}

.pic2{
    padding: 10px;
width: 400px;
height: 400px;
}

/* footer */
.footer{
text-align: center;
}

/*About page*/
.about-border{
    border: 1px solid ;
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}

.p-about{
    margin-left: 15px;
    font-size: 20px;

}
 #image{
    margin: auto 0;
    width: 550px;
    text-align: center;
   justify-content: top;

 }

 .about-footer{
   text-align: center;
   justify-content: bottom;
 }


 /* media queries */
 
@media (max-width: 1320px)
 {
    .img{
    display: none;
    }
    
    .text{
        position: absolute;
        top: 150px;
        left: 270px;
        padding: 10px;
    }
    
    .img2{
     display: none;
    }
    
    .text-two{
        position: absolute;
        top: 300px;
        left: 270px;
        padding: 10px;
    }
    
    .img3{
     display: none;
    }
    
    .text-three{
        position: absolute;
        top: 450px;
        left: 270px;
        padding: 10px;
    }
    
    .img4{
        display: none;
    }
    
    .text-four{
        position: absolute;
        top: 600px;
        left: 270px;
        padding: 10px;
    }
    
    .img5{
       display: none;
    }
    
    .text-five{
        position: absolute;
        top: 750px;
        left: 270px;
        padding: 10px;
    }
    
    .img6{
      display: none;
    }
    
    .text-six{
        position: absolute;
        top: 900px;
        left: 270px;
        padding: 10px;
    }
    .footer{
        display: none;
    }
 }

 @media (max-width: 600px) {

   
  

    .footer{
        display: none;
    }
 }

 @media ( max-width:700px) {

    .main{
        font-size: 1.5em;
    }

 @media (max-width:587px) {
        .img{
            display: none;
            }
            
            .text{
                position: absolute;
                top: 150px;
                left: 270px;
                padding: 10px;
                font-size: 10px;
            }
            
            .img2{
             display: none;
            }
            
            .text-two{
                position: absolute;
                top: 300px;
                left: 270px;
                padding: 10px;
                font-size: 10px;
            }
            
            .img3{
             display: none;
            }
            
            .text-three{
                position: absolute;
                top: 450px;
                left: 270px;
                padding: 10px;
                font-size: 10px;
            }
            
            .img4{
                display: none;
            }
            
            .text-four{
                position: absolute;
                top: 600px;
                left: 270px;
                padding: 10px;
                font-size: 10px;
            }
            
            .img5{
               display: none;
            }
            
            .text-five{
                position: absolute;
                top: 750px;
                left: 270px;
                padding: 10px;
                font-size: 10px;
            }
            
            .img6{
              display: none;
            }
            
            .text-six{
                position: absolute;
                top: 900px;
                left: 270px;
                padding: 10px;
                font-size: 10px;
            }
        
    }
 } 

@media (max-width:394px) {
    .img{
        display: none;
        }
        
        .text{
            position: absolute;
            top: 150px;
            left: 270px;
            padding: 10px;
            font-size: 10px;
        }
        
        .img2{
         display: none;
        }
        
        .text-two{
            position: absolute;
            top: 350px;
            left: 270px;
            padding: 10px;
            font-size: 10px;
        }
        
        .img3{
         display: none;
        }
        
        .text-three{
            position: absolute;
            top: 600px;
            left: 270px;
            padding: 10px;
            font-size: 10px;
        }
        
        .img4{
            display: none;
        }
        
        .text-four{
            position: absolute;
            top: 920px;
            left: 270px;
            padding: 10px;
            font-size: 10px;
        }
        
        .img5{
           display: none;
        }
        
        .text-five{
            position: absolute;
            top: 1150px;
            left: 270px;
            padding: 10px;
            font-size: 10px;
        }
        
        .img6{
          display: none;
        }
        
        .text-six{
            position: absolute;
            top: 1450px;
            left: 270px;
            padding: 10px;
            font-size: 10px;
        }
}